.paintings {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.paintings:hover {opacity: 0.7;}

.left {
	float:left;
	padding-left:5%;
	width:25%;
}

.right {
	float:right;
	padding-right:5%;
	width:25%;
}

.middle { 
	float:left;
	width: 25%;
	padding-left: 7.5%;
	padding-right: 7.5%;
}

.image div {
	text-align: center;
	padding-bottom:5%;

}                                                                                                                                                                                                                        